stages:
  - test
  - build

variables:
  SERVER_IMAGE: $CI_REGISTRY/peng-bot/peng-agent/server
  WEB_IMAGE: $CI_REGISTRY/peng-bot/peng-agent/front
  VERSION: v2.0.3

# Template for test builds (non-main branches)
.test-build-template: &test-build
  image: docker:23.0.6-dind
  stage: test
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

# Template for production builds (main branch)
.prod-build-template: &prod-build
  image: docker:23.0.6-dind
  stage: build
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

# Server test build (x86)
test-server-x64:
  <<: *test-build
  script:
    - docker build --platform linux/amd64 -t $SERVER_IMAGE:$VERSION-nightly -f server/Dockerfile_slim server/
    - docker push $SERVER_IMAGE:$VERSION-nightly
  tags:
    - docker

# Web test build (x86)
test-web-x64:
  <<: *test-build
  script:
    - docker build --platform linux/amd64 -t $WEB_IMAGE:$VERSION-nightly -f web/Dockerfile web/
    - docker push $WEB_IMAGE:$VERSION-nightly
  tags:
    - docker

# Server production builds
server-x64:
  <<: *prod-build
  script:
    - docker build --platform linux/amd64 -t $SERVER_IMAGE:$VERSION -f server/Dockerfile_slim server/
    - docker tag $SERVER_IMAGE:$VERSION $SERVER_IMAGE:latest
    - docker push $SERVER_IMAGE:$VERSION
    - docker push $SERVER_IMAGE:latest
  tags:
    - docker

server-arm:
  <<: *prod-build
  script:
    - docker build --platform linux/arm64 -t $SERVER_IMAGE:$VERSION-arm -f server/Dockerfile_slim server/
    - docker tag $SERVER_IMAGE:$VERSION-arm $SERVER_IMAGE:latest-arm
    - docker push $SERVER_IMAGE:$VERSION-arm
    - docker push $SERVER_IMAGE:latest-arm
  tags:
    - docker-arm

# Web production builds
web-x64:
  <<: *prod-build
  script:
    - docker build --platform linux/amd64 -t $WEB_IMAGE:$VERSION -f web/Dockerfile web/
    - docker tag $WEB_IMAGE:$VERSION $WEB_IMAGE:latest
    - docker push $WEB_IMAGE:$VERSION
    - docker push $WEB_IMAGE:latest
  tags:
    - docker

web-arm:
  <<: *prod-build
  script:
    - docker build --platform linux/arm64 -t $WEB_IMAGE:$VERSION-arm -f web/Dockerfile web/
    - docker tag $WEB_IMAGE:$VERSION-arm $WEB_IMAGE:latest-arm
    - docker push $WEB_IMAGE:$VERSION-arm
    - docker push $WEB_IMAGE:latest-arm
  tags:
    - docker-arm
